/Build/Blender Projects/**
/Build/Audacity Projects/**
/Build/Gimp Projects/**
/warpriest_markdown/**
/trailer/**
/GLSL/**
*.bat
*.dll
*.lnk
*.sfk
/Build/*
*.bin
/Garbage/**
*.blend1
*.blend2
*.blend3
Blender Projects/
Audacity Projects/
Gimp Projects/
Concept Art/
Urho3D Web Writeup/
